.header {
    padding-top: 36px;
    padding-bottom: 36px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo-img {
}
.header__burger-img {
    display: none;
}
.header__nav {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.header__nav-link {
    color: rgba(147, 156, 170, 1);
    text-decoration: none;
}
.header__link {
    padding: 14px 39px;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(252, 183, 43, 1);
    text-decoration: none;
}

@media (max-width: 748px) {
    .header__nav {
        justify-content: center;
    }
}

@media (max-width: 450px) {
    .header__nav-link:nth-child(1) {
        display: none;
    }
    .header__link {
        display: none;
    }
}