* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.products__title {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 38px;
}

.products__list {
    display: inline-block;
    width: 1450px;
    text-align: center;
}

.products__item {
    display: inline-block;
    list-style: none;
    border: 3px solid black;
    width: 354px;
    height: 370px;
    border-radius: 17px;
    margin-right: 10px;
    margin-left: 30px;
    text-align: center;
}

#products__item-first {
    margin-left: 180px;
}

.products__item-title {
    text-align: left;
    margin-top: 25px;
    margin-left: 25px;
}

.products__item-image {
    text-align: center;
    margin-left: 66px;
    margin-right: 66px;
}

.products__item-description {
    text-align: left;
    margin-left: 25px;
    color: rgba(1, 11, 49, 0.5);
    margin-top: 5px;
}

.products__list {
    text-align: left;
}

.products__info {
    position: relative;
}

.products__item-price {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 18px;
}
.products__item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 25px 0 25px; 
}

/* --------------------TARIF--------------- */
.tarif {
    margin-bottom: 200px;
}

.tarif__title {
    text-align: center;
    margin-top: 209px;
}

.tarif__elements {
    text-align: center;
    margin-top: 69px;
}


.tarif__item {
    display: inline-block;
    background-color: rgba(248, 248, 248, 1);
    width: 250px;
    height: 400px;
    border-radius: 20px;
    margin-right: 18px;
}


.tarif__item-title {
    margin-top: 34px;
    color: rgba(105, 104, 113, 1);
    margin-bottom: 22px;
}

.tarif__item-price {
    margin-bottom: 28px;
}

.tarif__item-description-1 {
    color: rgba(105, 104, 113, 1);
    margin-bottom: 28px;
}

.tarif__item-description-2 {
    color: rgba(105, 104, 113, 1);
    margin-bottom: 28px;
}

.tarif__item-description-3 {
    color: rgba(105, 104, 113, 1);
    margin-bottom: 28px;
}

.tarif__item-btn {
    border: 1px;
    border-radius: 10px;
    color: rgba(84, 84, 212, 1);
    background-color: rgba(255, 255, 255, 1);
    width: 188px;
    height: 30px;
    margin-top: 36px;
}
.tarif__item-premium {
    display: inline-block;
    background-color: rgba(255, 113, 67, 1);
    width: 250px;
    height: 400px;
    border-radius: 20px;
    margin-right: 18px;
}
.tarif__item-premium-title {
    margin-top: 34px;
    margin-bottom: 22px;
    color: rgba(255, 255, 255, 0.7);
}

.tarif__item-premium-price {
    margin-bottom: 28px;
    color: rgba(255, 255, 255, 0.7);
}

.tarif__item-premium-description-1 {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 28px;
}

.tarif__item-premium-description-2 {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 28px;
}

.tarif__item-premium-description-3 {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 28px;
}

.tarif__item-premium-btn {
    border: 1px;
    border-radius: 10px;
    background-color: rgba(159, 57, 25, 1);
    width: 188px;
    height: 30px;
    margin-top: 36px;
}