
.header {
    padding: 9px 0px;
    margin-top: 12.5px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__burger {
    display: none;
}

.header__logo {}

.header__nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__nav-item {}

.header__login-text {}

.header__href {
    padding: 12px 26px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    background-color: rgba(43, 89, 255, 1);
    border-radius: 4px;
}

.header__side {
    display: flex;
    align-items: center;
    gap: 41px;
}