* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1106px;
    padding-right: 40px;
    padding-left: 40px;
    margin: 0 auto;
}
body {
    font-family: "Space Mono", monospace;
}