* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1240px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
}

.hero {}

.hero__inner {}

.hero__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
}

.hero__item {
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.hero__item1 {
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.hero__item2 {
    background-color: cornflowerblue;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
}

.hero__item3 {
    background-color: gray;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 4;
}

.hero__item4 {
    background-color: cornflowerblue;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
}

.hero__item5 {
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 5;
}